/* reasonable box model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default margin */
* {
  margin: 0;
}

/* allow percentage-based heights in the application */
html,
body {
  height: 100%;
}

/* add accessible line-height and improve text rendering */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* remove built-in form typography styles */
input,
button,
textarea,
select {
  font: inherit;
}

/* avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  /* blend difference text */
  /* color: #fff;
  mix-blend-mode: difference; */
}

/* hide scrollbar */
* {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  /* overflow-y: scroll; */
}

*::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

/* create a root stacking context (optional for frameworks) */
/* #root,
#__next {
  isolation: isolate;
} */

